@page "/TodoList"
<h3>TodoList</h3>
<ul>
    @foreach (var item in items)
    {
        <li>@item.Name</li>
    }
</ul>

<input @onchange="InputChanged" />
<p>@message</p>

@code{

    record Item(string Name);

    static Item a = new Item("n");
    
    Item [] items = [a,new Item("b")];


    string message = "";

    void InputChanged()
    {
        message = "(string)e.Value";
        Console.Write(message);
    }
}
