@page "/TodoList"
@rendermode InteractiveServer
<h3>TodoList</h3>
<ul>
    @foreach (var item in _items)
    {
        <li>@item.Name</li>
    }
</ul>

<input @onchange="InputChanged" />
<p>@_message</p>

@code{

    record Item(string Name);

    static Item a = new Item("n");

    readonly Item [] _items = [a,new Item("b")];


    string? _message = "";

    void InputChanged(ChangeEventArgs e)
    {
        _message = (string?)e.Value;
        Console.WriteLine(_message);
    }
}
